langchain-google-genai
langchain-core
langchain-huggingface
scikit-learn
streamlit
pandas
langchain-text-splitters
ipykernel
langchain
python-dotenv
langchain_community
pypdf
wikipedia
jq
dotenv
langchain_openai
#langchain_hagginface
#faice-cpu
chromadb
langchain_chroma
youtube_transcript_api
pdf2image
fitz
frontend
tools
PyMuPDF
langchain_groq
sentence_transformers
